@import "./styles/accordion.css";
@import "./styles/helpers.css";
@import "./styles/media-queries.css";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

ul li {
  font-size: 1rem;
}

body {
  background: #F5FAFF;
  color: #565656;
}

/* Container */

.ally-okr {
  padding: 12px 24px;
  display: flex;
  margin-left: 20%;
  flex-direction: column;
}

.app-okr {
  padding: 20px;
}

.okr-cateogry-label {
  font-weight: 500;
  margin-right: 8px;
}

/* Grid */

/* .app-okr {
  display: grid;
  grid-template-areas: 'header header header header header header' 'subheader subheader subheader subheader subheader subheader' 'body body body body body body';
  gap: 10px;
  padding: 12px;
} */

.okr-cateogry-section {
  grid-area: subheader;
  margin-left: calc(20% + 24px);
}

.okr-cateogry-section select {
  padding: 8px;
}

select {
  border: 2px solid #13ce95;
}

select:focus-visible {
  outline: 0;
}

.title-ally-okr {
  grid-area: header;
}

.ally-okr {
  grid-area: body;
}

/* OKR Segment */

.ally-okr__segment-item {
  list-style: lower-alpha;
  padding-left: 86px;
  padding-bottom: 30px;
  position: relative;
  list-style-position: inside;
  background: linear-gradient(#aeaeae, #aeaeae) 0px 14px/35px 2px no-repeat;
}

.ally-okr__segment>ul {
  padding-left: 0px;
}

.ally-okr__segment-title {
  padding-left: 30px;
  position: relative;
}

.ally-okr__segment-item::before {
  background-image: url('./assets/icons/user.png');
  background-size: 24px 24px;
  display: inline-block;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  content: "";
  position: absolute;
  left: 50px;
}

.ally-okr__segment-title::before {
  background-image: url('./assets/icons/user.png');
  background-size: 24px 24px;
  display: inline-block;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  content: "";
  position: absolute;
  left: -10px;
  top: 3px;
}

.ally-okr__segment {
  padding-left: 0;
  background: linear-gradient(#aeaeae, #aeaeae) no-repeat;
  background-position-y: 50px;
  background-position-x: 0px;
  background-size: 2px calc(100% - 102px);
}

/* Reference */

/* .app-okr>* {
  border: 1px solid;
} */